@import "styles/utils";

.testimonialSection {
  position: relative;
  background: #172339;
  text-align: center;
  border-radius: 15px;
  padding: 338px 0 64px;
  margin-top: 237px;
  z-index: 1;

  @include media(">tablet") {
    margin: 273px auto 0;
    max-width: 689px;
  }

  @include media(">desktop") {
    text-align: left;
    margin: 299px auto 0;
    max-width: 1110px;
    padding: 88px 125px;
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-template-areas: "empty container";
  }

  &::before {
    position: absolute;
    top: -180px;
    left: 50%;
    width: 343px;
    height: 402px;
    background: url("/img/pattern-blur.svg") no-repeat;
    background-size: contain;
    content: "";
    transform: translateX(-50%);

    @include media(">desktop") {
      top: initial;
      bottom: 0;
      left: 60px;
      width: 500px;
      height: 500px;
      transform: none;
    }
  }

  &::after {
    position: absolute;
    top: -180px;
    left: 50%;
    width: 252px;
    height: 402px;
    background: url("/img/image-jeremy-small@2x.png") no-repeat;
    background-size: contain;
    content: "";
    transform: translateX(-50%);

    @include media(">desktop") {
      top: initial;
      left: 112px;
      bottom: 0;
      width: 375px;
      height: 600px;
      transform: none;
    }
  }

  .container {
    grid-area: container;

    @include media(">tablet") {
      max-width: 573px;
    }

    .title {
      position: relative;
      color: #FAF8F6;
      font-size: 40px;
      line-height: 48px;
      font-weight: normal;
      letter-spacing: -0.4px;
      margin-bottom: 40px;

      @include media(">desktop") {
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.5px;
      }

      &::before {
        position: absolute;
        top: calc(-100% - 30px);
        left: 50%;
        width: 50px;
        height: 40px;
        background: url("/img/pattern-curved-line-2.svg") no-repeat;
        background-size: contain;
        content: "";
        transform: translateX(-50%);

        @include media(">desktop") {
          top: calc(100% + 17px);
          left: -100px;
          width: 64px;
          height: 52px;
          transform: none;
        }
      }
    }

    .description {
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 0.09px;
      color: #F3EDE7;
      margin-bottom: 40px;

      @include media(">desktop") {
        font-size: 20px;
        line-height: 35px;
        letter-spacing: 0.1px;
      }
    }

    .username {
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 2.5px;
      color: #F3EDE7;

      strong {
        font-size: 18px;
        line-height: 32px;
        letter-spacing: -0.18px;
        color: #FAF8F6;
      }
    }
  }
}
