@import "styles/utils";

.footer {
  position: relative;
  padding: 56px 0 80px;

  @include media(">tablet") {
    padding: 72px 0;
  }

  &::before {
    position: absolute;
    top: -134px;
    left: 0;
    width: 100%;
    height: calc(100% + 134px);
    background: #F3EDE7;
    content: "";

    @include media(">tablet") {
      top: -463px;
      height: calc(100% + 463px);
    }
  }

  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 33px;
    text-align: center;

    @include media(">tablet") {
      flex-direction: row;
      justify-content: space-between;
    }

    .copyright {
      font-size: 15px;
      line-height: 32px;
      letter-spacing: 0.08px;
      color: #49566D;
    }

    .socialContainer {
      list-style: none;
      display: flex;
      grid-gap: 28px;
    }
  }
}
